
@media all {
  .content {
    margin-top: 30px;
  }

  article.real-content {
    h1 {
      color: $title-color;
      margin-bottom: 1em;
    }

    h2 {
      border-top: 1px solid #e1e1e1;
      padding-top: 0.8em;
      margin-bottom: 0.8em;
    }

    .article-index > li {
      list-style: none;
      font-size: 120%
    }
  }

  .single-tip {
    background: #fff;
    padding: 10px 0px;

    blockquote {
      quotes: "\201C""\201D""\2018""\2019";
      font-size: 100%;
      margin: 0px;
    }
  }

  .single-post {
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    margin: 15px 0;
    background: #fff;
    padding: 10px 20px;
  }

  .single-post .post-title {
    font-size: 120%;
    color: $title-color;
  }

  .posts-list {
    blockquote {
      margin: 1em 10px;
      padding: 0.5em 10px;
    }

    blockquote:before {
      color: #ccc;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    blockquote p {
      display: inline;
    }
  }

  .meta {
    margin: 10px 0px;
    font-size: 90%;
    color: #ccc;
  }
}