
@media all {
  a {
    color: #249cea;
  }

  .post-heading {
    font-size: 1.2rem
  }

  .content {
    margin-top: 30px;

    .main {

      article {

        #post-tools {
          border-top: 1px solid #e5e5e5;
          padding-top: 5px;

          a {
            color: #7f7f7f;
          }

          .like-button {
            margin-left: 0px;
            padding-left: 0px;

            .fa {
              margin-right: 2px;
            }

            .badge {
              padding: 0px;
              color: inherit;
              background-color: inherit;
            }
          }
        }
      }
    }
  }

  .posts-list {
    .tip {
      footer {
        margin-top: 0.5rem;
        a {
          font-size: 1rem;
          color: inherit;
        }
      }
    }
  }

  article.real-content {
    h1 {
      color: $title-color;
      margin-bottom: 0.6em;
    }

    h2 {
      border-top: 1px solid #f2f2f2;
      padding-top: 0.8em;
      margin-bottom: 0.8em;
    }

    .article-index > li {
      padding-bottom: 5px;
    }
  }

  .single-post {
    background: #fff;
    padding: 10px;
  }

  .post-title {
    font-size: 120%;
    color: $title-color;
  }

  .posts-list {
    margin-top: 3em;

    blockquote {
      margin: 1em 10px;
      padding: 0.5em 10px;
    }

    blockquote:before {
      color: #ccc;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    blockquote p {
      display: inline;
    }
  }

  .post-meta {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.85rem;
    color: #6a6a6a;

    span {
      margin-left: 5px;
    }

    a {
      color: #ccc;
    }
  }

  .home-content {
    .latest-content {
      padding-bottom: 2rem;

      h5 {
        margin-bottom: 2rem;
      }

      .card {
        flex-basis: 40%;
      }
    }

    .recommend-post {
      margin: 15px 0px;
    }
  }
}