
@media all {
  a {
    color: #249cea;
  }

  .post-heading {
    font-size: 1.2rem;

    a {
      color: #555;
    }
  }

  .content {
    margin-top: 30px;

    .main {

      .post {

        h1 {
          font-size: 2rem;
          margin-bottom: 1.5rem;
        }

        h2 {
          font-size: 1.5rem;
          margin: 1.5rem 0 0.75rem 0;
        }
      }
    }
  }

  .post-meta {
    .fa {
      margin-right: 0.2rem;
    }
  }
  
  .posts-list {
    .tip {
      footer {
        margin-top: 0.5rem;
        a {
          font-size: 1rem;
          color: inherit;
        }
      }
    }
  }

  article.real-content {
    h1 {
      color: $title-color;
      margin-bottom: 0.6em;
    }

    h2 {
      border-top: 1px solid #f2f2f2;
      padding-top: 0.8em;
      margin-bottom: 0.8em;
    }

    .article-index > li {
      padding-bottom: 5px;
    }
  }

  .single-post {
    background: #fff;
    padding: 10px;
  }

  .post-title {
    font-size: 120%;
    color: $title-color;
  }

  .posts-list {
    margin-top: 3em;

    blockquote {
      margin: 1em 10px;
      padding: 0.5em 10px;
    }

    blockquote:before {
      color: #ccc;
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }

    blockquote p {
      display: inline;
    }
  }

  #post-tools {
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    .btn {
      font-size: 0.85rem;
    }

    span {
      margin-left: 2px;
    }

    a {
      color: #555;
    }
  }

  #post-comment {
    h4 {
      padding-bottom: 0.8rem;
      border-bottom: 2px solid #f2f2f2;
    }

    .card {
      background-color: #eee;
    }

    .comment-reply {
      margin-top: 0.7rem;
    }

    #comment-form {

      h4 {
        margin-bottom: 1rem;
      }
    }
  }

  .home-content {
    .latest-content {
      padding-bottom: 2rem;

      h5 {
        margin-bottom: 2rem;
      }

      .card {
        flex-basis: 40%;
      }
    }

    .recommend-post {
      margin: 15px 0px;
    }
  }
}