
@media all {

  .navbar {
    margin-bottom: 0px;
  }

  .navbar-default {
    background-color: $nav-bg;

    .navbar-nav {
      > .active > a {
        background-color: $nav-bg;
        color: #fff;
      }
    }
  }

  .jumbotron { 
    background-color: #F0F1F2;
  }

  .jumbotron h1 {
    color: $title-color;
  }

  .jumbotron p {
    font-size: 16px;
  }

  .jumbotron .fa {
    color: $icon-color;
    font-size: 400%;
  }

  .jumbotron .introduction {
    padding-left: 25px;
    padding-right: 25px;
  }

  footer.site-footer {
    position: relative;
    height: 65px;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #dedede;
  }
}
