
@media all {

  html {
    position: relative;
    min-height: 100%;
  }

  body {
    margin-bottom: 60px;
    color: $primary-text-color;
    font-size: 14px;
  }

  header {
    border-bottom: 1px solid #e7e7e7;
    .navbar {

      background-color: $nav-bg;

      .navbar-brand {

        letter-spacing: 0.25rem;
        margin-right: 2rem;

        .shui {
          font-size: 2rem;
          color: $primary-color;
        }

        .ba {
          font-size: 1.2rem;
          color: $secondary-color;
        }
      }

      .navbar-nav {
        > li > a {
          color: $primary-link-color;
          line-height: 60px;
        }

        > .active > a {
          &,
          &:hover,
          &:focus {
            background-color: $nav-bg;
            color: $primary-color;
          }
        }
      }
    }
  }

  .jumbotron {

    font-size: 1.05rem;
    font-weight: 200;

    padding: 2em 2em;

    .motto {
      padding-left: 15px;
      margin-bottom: 1em;
    }

    background: linear-gradient(to bottom,#fff 10%,#f5f5f5 100%);

    .introduction {
      padding-left: 25px;
      padding-right: 25px;

      .fa {
        color: $primary-color;
        margin-right: 0.5rem;
        font-size: 1.5rem;
      }

      h4{

        font-size: 1.2rem;

        a {
          color: $primary-link-color;
        }
      }
    }
  }

  .page-404 {

    .error-info {
      margin-top: 20px;
    }

    .search {
      padding: 20px 0px;

      form {
        width: 20%;
      }
    }
  }

  footer.site-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
    border-top: 1px solid #dedede;

    p {
      font-size: 0.75rem;
    }
  }
}
