
@media all {

  body {
    color: $primary-text-color;
  }

  .navbar {
    margin-bottom: 0px;
  }

  .navbar-default {

    background-color: $nav-bg;

    .navbar-brand {

      letter-spacing: 3px;

      margin-top: 5px;
      margin-bottom: 5px;

      .shui {
        font-size: 200%;
        color: $primary-color;
      }

      .ba {
        font-size: 120%;
        color: $secondary-color;
      }
    }

    .nav {
      margin-top: 10px;
    }

    .navbar-nav {
      > li > a {
        color: $primary-link-color;
      }

      > .active > a {
        &,
        &:hover,
        &:focus {
          background-color: $nav-bg;
          color: $primary-color;
        }
      }
    }
  }

  .jumbotron {

    margin-top: 40px;
    background: linear-gradient(to bottom,#fff 10%,#f5f5f5 100%);

    p {
      font-size: 16px;
    }

    .introduction {
      padding-left: 25px;
      padding-right: 25px;

      .fa {
        color: $primary-color;
        font-size: 400%;
      }

      > h4 > a {
        color: $primary-link-color;
      }
    }
  }

  .page-404 {

    .error-info {
      margin-top: 20px;
    }

    .search {
      padding: 20px 0px;

      form {
        width: 20%;
      }
    }
  }

  footer.site-footer {
    position: relative;
    height: 65px;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid #dedede;
  }
}
