
@media (min-width: 25vw) {
  .sidebar {
    bottom: 0;
    left: 0;
    //    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .hs-nav-sidebar {
    .nav > li > a {
      padding-left: 0px;
    }

    .nav > .active > a {
      color: $primary-color;
    }

    .nav > li > a:focus,
    .nav > li > a:hover {
      background-color: inherit;
    }
  }
}

