
@media (min-width: 25vw) {
  .sidebar {
    top: 51px;
    bottom: 0;
    left: 0;
//    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .hs-nav-sidebar {
    .nav > li > .nav > li > a {
      padding-left: 30px;
    }

    .nav > .active > a {
      padding-left: 18px;
      font-weight: 700;
      border-left: 2px solid #563d7c;
    }
  }
}

