
@media (min-width: 25vw) {
  .sidebar {
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;

    a.active {
      color: $primary-color;
      background-color: inherit;
      border-color: #ddd;
    }

    a.active:focus,
    a.active:hover {
      color: inherit;
      background-color: inherit;
    }
  }

  .hs-nav-sidebar {
    .nav > li > a {
      padding-left: 0px;
    }

    .nav > .active > a {
      color: $primary-color;
    }

    .nav > li > a:focus,
    .nav > li > a:hover {
      background-color: inherit;
    }
  }
}

