
$nav-bg: #B3CEDA !default;
$text-color: #606060 !default;
$link-color: #337ab7 !default;
$title-color: #4E5264 !default;
$footer-bg: #F0F1F2 !default;
$icon-color: #A6C28F !default;
$logo-color: #46485A !default;
