
$nav-bg: rgba(255,255,255,.95) !default;
$primary-text-color: #555555 !default;
$primary-link-color: #717171 !default;
$title-color: #4E5264 !default;
$footer-bg: #F0F1F2 !default;
$logo-color: #46485A !default;
$primary-color: #ff8408 !default;
$secondary-color: #2ba5e6 !default;
