extends ../../layouts/default

include ../../mixins/searchbox

block intro
  .jumbotron.page-404
    .container
      h2 没有这个页面
      p.error-info 非常抱歉，因为服务器故障网站内容丢失。重建的网站无法定位之前的内容。

      .search
        p 请尝试搜索关键字：
        +search-box
        
      a(href='/').btn.btn-info 回到主页
