extends ../layouts/default

block content
  .contribute
    h1 帮助睡吧
    p 睡吧是一个公益社区，在6年的时间内帮助了成千上万的失眠者。目前睡吧的理念和认知趋向成熟，社区内可以听到强烈的声音希望把这种理念推广出去，帮助更多的失眠者。然而，需要有更多的人参与其中才能达到这个目标。目前，你可以从这几个方面去帮助失眠人群和睡吧：
    .ui.items
      .item
        .content
          .header 回复评估
          .description 在
            a(href='https://www.douban.com/group/hellosleep/' target='_blank') 豆瓣小组
            | 回复失眠者的提问或者发表个人经验。同样你可以申请成为小组的管理员来管理小组。
      .item
        .content
          .header 管理睡吧网站
          .description 如果你经常在社区帮助失眠人群并富有经验，可以一同管理
            a(href='https://www.hellosleep.net/' target='_blank') 睡吧网站
            | 的内容。可以通过豆邮或者邮件联系我来添加帐号。
      .item
        .content
          .header 建立睡吧应用
          .description 如果你有对技术感兴趣，可以帮助一起建立睡吧网站和手机应用。具体做法稍后解释。
      .item
        .content
          .header 捐款
          .description 目前睡吧的所有费用都是个人承担，无论硬件和软件配置都很落后，这也严重限制了睡吧知识的传播。你可以通过支付宝和微信来捐助睡吧。
    .ui.two.stackable.column.grid
      .eight.wide.column
        h4 支付宝
        img(src="/images/alipay-qrcode.png" height="200" width="200")

      .eight.wide.column
        h4 微信支付
        img(src="/images/wechat-qrcode.png" height="200" width="200")

