
extends ../layouts/default

include ../mixins/eval

block content
  .evaluation-page(style="margin-top:3rem;")
    if status == "new"
      #new_evaluation
    else if evaluations
      .introduction
        h1.ui.header 睡眠评估列表
          .sub.header 如果你还没创建评估，请点击下面的按钮来创建评估。
        a.ui.primary.button(href='/evaluation/new') 创建睡眠评估
      .ui.divider
      .ui.three.stackable.cards
        // list of evaluations
        each eva in evaluations.results
          .card
            .content
              .header
                a(href="/evaluation/" + eva._id) #{eva.name}
              .meta #{eva.formattedDate}
              +show-tags(eva.tags)
    else if evaluation
      +show-eval(evaluation, answers)
