extends ../layouts/default

block content
  .hs-help
    .hs-help-section
      .hs-help-section-header
        h2.hs-help-section-title
          span 1
          .hs-help-section-title-label 学习如何对待失眠
      .lead
        p 你之所以陷入失眠是因为不懂得如何对待它，你之所以恐惧失眠是因为不了解它。所以走出失眠的过程就是一个自我学习和自我努力的过程。我们不可能轻而易举的通过外部的药物和神奇的方法走出失眠，你必须去学习、去尝试、去坚持。睡吧在几年的时间里积累了不少资料与珍贵的经验，你可以通过阅读这些资料和分享了解如何对待失眠，并按照文章中的建议去尝试和坚持。
        p 在发起求助之前，试着去阅读下面连接中的文章。学习和寻找的过程会让你受益终生。
      .row.text-xs-center
        .col-md-6
          a.btn.btn-primary-outline.btn-lg(href='/tutorial') 睡吧指南
        .col-md-6
          a.btn.btn-primary-outline.btn-lg(href='/share') 经验分享


    .hs-help-section
      .hs-help-section-header
        h2.hs-help-section-title
          span 2
          .hs-help-section-title-label 填写睡眠评估
      .lead
        p 如果你没法通过阅读资料找到自己失眠的原因，也不能明确的了解具体该如何做才能走出失眠。那就需要求助，但是每个人都应该通过正确的方式求助。许多人只是在抱怨一番并询问该怎么办？这样的提问无法得到任何答案。因为你所经历的痛苦只是一些表象，而我们无法通过一些表面现象的抱怨和哭诉找出失眠的原因。想要求助就需要填写睡眠评估，并发表在睡吧小组或者通过邮件发送。
      .row.text-xs-center
        .col-md-6
          a.btn.btn-primary-outline.btn-lg.m-r-3(href='https://www.douban.com/group/topic/9471899/' target='_blank') 睡眠评估模板
          i.fa.fa-hand-o-right.evaluation-director
        .col-md-3
          a.btn.btn-primary-outline(href='https://www.douban.com/group/hellosleep/' target='_blank') 睡吧小组
        .col-md-3
          a.btn.btn-primary-outline(href='mailto:liming.dl@gmail.com') 发送邮件

    .hs-help-section
      .hs-help-section-header
        h2.hs-help-section-title
          span 3
          .hs-help-section-title-label 正确提出疑问
      .lead
        p 发表评估是正确的求助方式，每个人在发表评估之后都会得到一些意见。但是你一定会存有各种各样的疑问。我们一定要在自己的评估后面提出疑问，这能让帮助你的人参考之前的状态和之前的意见，也能让自己了解到进展。而且在提出这些疑问之前，一定要问自己几个问题：
        ul
          li 我的这个疑问是在抱怨还是在理智的求助？
          li 我是不是按照意见去做了？
          li 我有没有通过大家给出的意见反省自己？
          li 我这个问题是在试图解决造成失眠的原因，还是失眠的现象？
        p 事实上，许多疑问都已经在之前的意见中给出了解答，我们只是需要回顾之前的意见并反省自己。确保自己的问题有价值，只有有价值的问题才会让自己有所进步。另外，下面两个连接解答了许多常见的问题，提问之前先浏览一下有没有你想要的答案。
      .row.text-xs-center
        .col-md-6
          a.btn.btn-primary-outline.btn-lg(href='/tutorial/categories/56e90c6fce64810300107443') 调节失眠误区
        .col-md-6
          a.btn.btn-primary-outline.btn-lg(href='/tutorial/categories/56e91e66ce6481030010744b') 失眠常见问题

    .hs-help-section
      .hs-help-section-header
        h2.hs-help-section-title
          span 4
          .hs-help-section-title-label 帮助他人
      .lead
        p 『一个非常明显的事实是，当你只是想着自己的时候，你的整个心智会变得狭窄，这种狭隘的心灵会放大那些看似糟糕的事情，并且带给你恐惧、不安和无法抑制的痛苦。然而，当你开始同情和关爱其他人的时候， 你的心灵会变得宽广并开放，自己的问题会显得微不足道，你的感受会变得大不相同。』
        p 失眠只是一个普通的烦恼，而走出这个烦恼最好的方式就是关爱和帮助其他的人。

    .hs-help-section
      .hs-help-section-header
        h2.hs-help-section-title
          span 4
          .hs-help-section-title-label 帮助睡吧
      .lead
        p 睡吧社区的许多网友都强烈希望睡吧能将面对失眠的理念更广泛的传播出去，可以帮助更多的失眠者。然而睡吧需要更多的支持，你可以通过各种方式来帮助睡吧。具体做法可以参考这个页面。
      .row.text-xs-center
        .col-md-12
          a.btn.btn-primary-outline.btn-lg(href='/donate') 帮助睡吧
