extends ../layouts/default

include ../mixins/post

block intro
  .jumbotron.text-left
    .container
      .motto
        h2(style="letter-spacing: 5px;") 用行动走出失眠
        p.lead 失眠只是一个结果，造成这个结果的原因来自于每个人自身存在的问题。想要走出失眠，我们要做的就是找到这些问题并加以改善。
      .row
        .col-md-4.introduction
          h4
            i.fa.fa-road
            a(href='/tutorial') 睡吧指南
          p 失眠的方方面面都在睡吧指南中有所讲解，通过指南中的文章，你会清楚的知道自己该如何做才能走出失眠。所以在寻求任何帮助之前，应该仔细浏览指南中的文章。
        .col-md-4.introduction
          h4 
            i.fa.fa-share-alt
            a(href='/share') 经验谈
          p 经验谈中收集了吧友走出失眠后的分享。你可以从这些文章中看到和自己类似的情况，这些分享会带给你足够的勇气和信心。然而走出失眠需要依靠自己的行动。
        .col-md-4.introduction
          h4
            i.fa.fa-group
            a(href='https://www.douban.com/group/hellosleep/' target='_blank') 睡吧小组
          p 豆瓣小组是睡吧网友求助、讨论的社区。你可以在小组发表睡眠评估来寻求帮助，也可以帮助其他失眠的吧友。

block content
  .row.home-content
  
    .col-md-8.latest-content
      h4 最近更新
      each post in posts.results
        +brief-post(post, 'home')
      +pagination(posts)
        
    .col-md-4
      .panel.panel-default
        .panel-heading 睡眠鸡汤
        .panel-body
          +home-tip(tip)
          .read-more
            a(href='/tip') 阅读更多
          
      .panel.panel-default
        .panel-heading 推荐阅读
        .list-group
          each post in recommends
            a.list-group-item(href='/' + post.type + '/' + post.key)
              =post.title
        .panel-body.read-more
          a(href='/recommend') 阅读更多
