extends ../layouts/page

include ../mixins/post

block content
  .posts-list
    .ui.three.stackable.cards
      each post in posts.results
        if section == 'tip'
          +content-tip(post)
        else
          +brief-post(post)

  +pagination(posts)