extends ../layouts/page

include ../mixins/post

block content
  .posts-list
    if section == 'tip'
      .ui.one.stackable.cards
        each post in posts.results
          +content-tip(post)
    else
      .ui.three.stackable.cards
        each post in posts.results
          +brief-post(post)
  +pagination(posts)