extends ../layouts/page

include ../mixins/post

block article-nav
  .ui.vertical.menu
    .item
      .header
        i.icon.road
        span 经验谈导航
    each cat in categories
      a.item(href='/share/categories/' + cat.key, class=(category && category.key == cat.key ? 'active': ''))
        i.icon.tag
        =cat.name

block article
  if post
    +content-post(post)
  else
    each post in posts.results
      +brief-post(post)
    +pagination(posts)
  