extends ../layouts/page

include ../mixins/post

block article-nav
  .card
    .card-block
      .card-title
        i.fa.fa-share.m-r-1
        span 经验谈导航
    .list-group.list-group-flush
      each cat in categories
        a.list-group-item(href='/share/categories/' + cat.key, class=(category && category.key == cat.key ? 'active': ''))
          i.fa.fa-tag.m-r-1
          =cat.name

block article
  if post
    +content-post(post)
  else
    each post in posts.results
      +brief-post(post)
    +pagination(posts)
  