extends ../layouts/page

include ../mixins/post
include ../mixins/nav

block article-nav
  .desktop-nav
    .ui.vertical.menu
      .item
        .header
          i.icon.road
          span 睡吧指南导航
      +list-indices(indices, post, category)
  .mobile-nav
    .ui.teal.buttons
      .ui.button 睡吧指南导航
      .ui.combo.top.right.pointing.dropdown.icon.button
        i.dropdown.icon
        .menu
          +list-indices(indices, post, category)

block article
  if post
    if category && category.key
      .ui.breadcrumb
        a.section(href="/") 主页
        i.divider.right.chevron.icon
        a.section(href="/tutorial") 指南
        i.divider.right.chevron.icon
        a.section(href='/tutorial/categories/' + category.key) #{category.name}
        i.divider.right.chevron.icon
        d.active.section #{post.title}
    +content-post(post, comments)
  else if posts
    +content-posts(category, posts)
  else
    h2 无效的内容