extends ../layouts/page

include ../mixins/post

block article-nav
  nav.hidden-print.hidden-xs.hidden-sm.affix.hs-nav-sidebar
    ul.nav.nav-sidebar
      each indice in indices
        if !indice.tutorialCount
          li(class=(post && post.key == indice.key ? 'active': ''))
            a(href='/tutorial/' + indice.key)
              =indice.title
        else if indice.tutorialCount > 0
          li(class=(category && category.key == indice.key ? 'active': ''))
            a(href='/tutorial/categories/' + indice.key)
              =indice.name

block article
  if post
    +content-post(post)
  else if posts
    +content-posts(category, posts)
  else
    h2 无效的内容