extends ../layouts/page

include ../mixins/post

block article-nav
  .ui.vertical.menu
    .item
      .header
        i.icon.road
        span 睡吧指南导航
    each indice in indices
      if !indice.tutorialCount
        a.item(href='/tutorial/' + indice.key, class=(post && post.key == indice.key ? 'active': ''))
          i.icon.file.text.outline
          =indice.title
      else if indice.tutorialCount > 0
        a.item(href='/tutorial/categories/' + indice.key, class=(category && category.key == indice.key ? 'active': ''))
          i.icon.tag
          =indice.name

block article
  if post
    if category && category.key
      .ui.breadcrumb
        a.section(href="/") 主页
        i.divider.right.chevron.icon
        a.section(href="/tutorial") 指南
        i.divider.right.chevron.icon
        a.section(href='/tutorial/categories/' + category.key) #{category.name}
        i.divider.right.chevron.icon
        d.active.section #{post.title}
    +content-post(post, comments)
  else if posts
    +content-posts(category, posts)
  else
    h2 无效的内容