extends ../layouts/page

include ../mixins/post

block article-nav
  ul.nav.nav-sidebar
    each indice in indices
      if indice.type == 'post'
        li(class=(post && post.key == indice.postSelect.key ? 'active': ''))
          a(href='/tutorial/' + indice.postSelect.key)
            =indice.postSelect.title
      else if indice.type == 'category'
        li(class=(category && category.key == indice.categorySelect.key ? 'active': ''))
          a(href='/tutorial/' + indice.categorySelect.key)
            =indice.categorySelect.name
block article
  if post
    +content-post(post)
  else if posts
    +content-posts(category, posts)
  else
    h2 无效的内容