extends ../layouts/default

block content
  .row
    .col-sm-3.col-md-2.sidebar
      nav.hidden-print.hidden-xs.hidden-sm.affix.hs-nav-sidebar
        ul.nav.nav-sidebar
          each indice in indices
            if indice.type == 'post'
              li(class=(post.key == indice.postSelect.key ? 'active': ''))
                a(href='/tutorial/' + indice.postSelect.key)
                  =indice.postSelect.title
            else if indice.type == 'category'
              li
                a(href='/tutorial/' + indice.categorySelect.key)
                  =indice.categorySelect.name
                if indice.categorySelect.key == key && posts && posts.length
                  ul
                    each p in posts
                      li
                        a(href='/tutorial/' + p.key)
                        =p.title
    .col-sm-9.col-md-10.main
      if !post
        h2 无效的内容
      else
        != post.content.extended