@media only screen and (max-width: 700px) {
  .intro .motto {
    background-image: url("/images/homepage_mobile.jpg");
    padding: 1rem; }
    .intro .motto .mainentry {
      margin-left: 1em;
      margin-top: 1em; }
  .intro .introduction .icon, .intro .introduction .button {
    display: none; }
  /* hide the fix menu */
  header .pointing.menu .menu,
  header .pointing.menu .item {
    display: none !important; }
  header .pointing.menu .toc.item {
    display: block !important; } }

@media (min-width: 700px) {
  .intro .motto {
    min-height: 400px;
    background-image: url("/images/homepage.jpg");
    padding: 3rem 1rem; }
    .intro .motto .mainentry {
      margin-left: 40%;
      margin-top: 5vh; }
  header .pointing.menu .toc.item {
    display: none; } }

@media all {
  .intro {
    background: linear-gradient(to bottom, #fff 10%, #F0F1F2 100%);
    font-size: 1.05rem;
    padding: 2rem 0; }
    .intro .motto {
      background-color: RGBA(106, 107, 109, 0.8);
      background-size: cover;
      color: #ddd;
      margin-bottom: 3rem; }
      .intro .motto p {
        font-size: 1.2rem;
        padding: 1rem 0; }
    .intro .introduction {
      margin-top: 2rem;
      text-align: center; }
      .intro .introduction p {
        font-size: 1.1rem;
        padding: 0 1.5rem; }
      .intro .introduction .icon {
        color: #ADC090;
        margin-right: 0.5rem;
        font-size: 4.5rem; }
      .intro .introduction h2 {
        margin-top: 0;
        margin-bottom: 1rem; }
        .intro .introduction h2 a {
          color: #717171; } }

@media all {
  .hs-help-section {
    padding-top: 3rem; }
    .hs-help-section p {
      text-indent: 2rem;
      font-size: 1.25rem; }
    .hs-help-section .ui.stackable.column {
      margin-top: 3rem; }
    .hs-help-section .evaluation-director {
      font-size: 2rem;
      line-height: 1.33333rem; }
    .hs-help-section .hs-help-section-header {
      margin-bottom: 3rem;
      color: #ff8408; }
      .hs-help-section .hs-help-section-header h2 {
        font-weight: 100;
        border-bottom: 1px solid #eee;
        padding-bottom: 2rem; }
      .hs-help-section .hs-help-section-header .hs-help-section-title {
        margin-bottom: 1rem;
        text-align: center; }
        .hs-help-section .hs-help-section-header .hs-help-section-title span {
          width: 2em;
          height: 2em;
          border: 2px solid;
          border-radius: 50%;
          display: inline-block;
          line-height: 2em;
          margin-bottom: .5em; } }

@media only screen and (max-width: 700px) {
  .recommend-post {
    display: none; } }

@media all {
  a {
    color: #249cea; }
  .post span {
    margin-right: 0.5rem; }
  .posts-list blockquote {
    margin: 1em 10px;
    padding: 0.5em 10px; }
  .posts-list blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em; }
  .posts-list blockquote p {
    display: inline; }
  #post-tools span {
    margin-right: 1rem; }
  #post-tools a {
    color: #555; }
  #post-tools a.disabled {
    color: gray;
    pointer-events: none; }
  #post-comment h2 {
    padding-bottom: 0.8rem;
    border-bottom: 2px solid #f2f2f2; }
  #post-comment .comment {
    background-color: #eee;
    padding: 1rem; }
  #post-comment #comment-form h3 {
    margin-bottom: 1rem; }
  #post-comment #comment-form .cancel-reply {
    margin-left: 1rem; }
  .home-content .latest-content {
    padding-bottom: 2rem; }
    .home-content .latest-content h2 {
      margin: 2rem 0; }
    .home-content .latest-content .list-all {
      margin: 2rem 0; }
  .home-content .recommend-content {
    margin-top: 6rem; }
    .home-content .recommend-content .recommend-post {
      margin: 15px 0px; }
  .card > .content > .meta {
    margin: 1rem 0; }
  .ui .breadcrumb {
    margin-bottom: 1rem; } }
