include ../mixins/flash-messages

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
    title= title || '睡吧-和失眠说再见'
    link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")
    link(href="/css/dist/style.css", rel="stylesheet")
    block css
    block head
    
  body
    nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar-collapse', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') 睡吧
        .collapse.navbar-collapse#navbar-collapse
          ul.nav.navbar-nav
            each link in navLinks
              li(class=(section === link.key ? 'active' : null)): a(href=link.href)= link.label
            li: a(href='mailto:liming.dl@gmail.com') 联系睡吧
          ul.nav.navbar-nav.navbar-right
            if user
              li: a(href='/keystone') 管理
              li: a(href='/keystone/signout')
                i.fa.fa-sign-out
            else
              li: a(href='/keystone/signin') 
                i.fa.fa-sign-in &nbsp; 登录
    .container
      //- intro
      block intro
      //- messages
      +flash-messages(messages)
      //- content
      block content
      //- footer
    .container.text-center: footer.site-footer
      p Copyright &copy; 2016 睡吧. All rights reserved.
      
    script(src='/js/libs/jquery-1.12.2.min.js')
    script(src='/js/libs/bootstrap/collapse.js')
    script(src='/js/libs/bootstrap/dropdown.js')

    if user && user.canAccessKeystone
      script(src='/keystone/js/content/editor.js')
      
    block page-js
