extends ./default

block content
  .page-content(style="margin-bottom: 7rem; margin-top: 3rem;")
    .ui.container.stackable.two.column.grid
      .ui.four.wide.column
        block article-nav
      .ui.twelve.wide.column
        block article
