
mixin a-comment(comment)
  .card.a-comment(comment_id=comment._id)
    .card-block
      .card-title
        span.m-r-1 #{comment.author}
        span.m-r-1.pull-xs-right #{comment.formatedPublishedDate} 
      .card-text
        != comment.content
      .comment-reply
        a(href='#') 回应

mixin comments(comments)
  if comments && comments.length
    h2 #{comments.length} 个回应
    .card-columns.comments-list
      each comment in comments
        +a-comment(comment)
  #comment-form.card