mixin content-post(post)
  article.real-content
    h1
      =post.title
    p
      !=post.content.extended
      
mixin content-tip(tip)
  blockquote
    p
      !=tip.content

mixin content-posts(category, posts)
  article.real-content
    h1
      =category.name
    p
      != category.description
    h2 文章列表
    ul.article-index
      each p in posts
        li
          a(href='/tutorial/' + p.key)
            =p.title

mixin brief-post(post)
  article
    h3
      a(href='/share/' + post.key)
        =post.title
    != post.content.brief

mixin home-post(post)
  li.single-post
    .post-title
      a(href='/' + post.type + '/' + post.key)
        =post.title
    small.meta
      span #{post.authorname} 发表于 
      span #{post.formatedPublishedDate}
        // =post._.publishedDate.format('MMMM Do, YYYY')
    p
      != post.content.brief
    
    
mixin home-tip(tip)
  li.single-post
    blockquote
      =tip.content