
mixin search-box()
  form.ui.form(role="search" action="/search" method="get")
    .fields
      .field
        input(type="text" placeholder="想要搜索..." name="q")
      .field
        button.ui.icon.button(type="submit")
            i.icon.search
