footer.site-footer.text-xs-center
  .container
    div.text-muted Copyright &copy; 2016 睡吧. All rights reserved. 睡吧内容按照以下许可发布: 
      i.fa.fa-globe  
        a(href="http://creativecommons.org/licenses/by-sa/3.0/deed.zh") CC Attribution-Share Alike 3.0 Unported
    div.text-muted
      a(href="http://www.miitbeian.gov.cn/") 辽ICP备16011212号-1
