
// navigation menu
header
  .ui.container
    .ui.secondary.pointing.menu
      a.toc.item
        i.sidebar.icon
      a.header.item(href='/')
        span.shui 睡
        span.ba 吧
      include ./links
      .right.menu
        a.item(href='/contribute')
          i.icon.heart
          | &nbsp;帮助睡吧
        if user
          a.item(href='/keystone') 管理
          a.item(href='/keystone/signout')
            i.icon.sign.out
        else
          a.item(href='/keystone/signin') 
            i.icon.sign.in
            | &nbsp; 登录
  